(
    id: "desert",
    display_name: "Desert",

    height: 0.45,
    temperature: 0.9,
    wetness: 0.1,
    continentalness: 0.5,
    erosion: 0.2,

    height_multiplier: 0.5,
    tint: (
        r: 240,
        g: 220,
        b: 130,
        a: 255
    ),


    surface: "sand",
    underground: "sand",
    underwater: "sand",
    top_layer_threshold: 2,
)