(
    id: "mountain",
    display_name: "Mountain",

    wetness: 0.4,
    height: 0.5,
    temperature: 0.1,
    continentalness: 0.7,
    erosion: 0.4,

    height_multiplier: 1.5,
    tint: (
        r: 220, 
        g: 220,
        b: 255,
        a: 255
    ),

    surface: "snow",
    underground: "stone",
    underwater: "gravel",
    top_layer_threshold: 2,
)