(
    id: "mountain",
    display_name: "Mountain",

    height: 0.5,
    temperature: 0.1,
    wetness: 0.3,
    continentalness: 0.8,
    erosion: 0.4,

    height_multiplier: 1.5,
    tint: (
        r: 220, 
        g: 220,
        b: 255,
        a: 255
    ),

    surface: "snow",
    underground: "stone",
    underwater: "gravel",
    top_layer_threshold: 2,
)