(
    id: "plains",
    display_name: "Plains",

    height: 0.4,
    temperature: 0.5,
    wetness: 0.5,
    continentalness: 0.3,
    erosion: 0.3,

    height_multiplier: 1,
    tint: (
        r: 120,
        g: 200,
        b: 120,
        a: 255
    ),

    surface: "grass",
    underground: "stone",
    underwater: "gravel",
    top_layer_threshold: 2,
)